*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    background:linear-gradient(#C0D9C2,#008B8B);
    /* overflow-x: hidden; */
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    text-align: center;
}
header .logo
{
    color: #008B8B;
    font-weight: 700;
    text-decoration: solid;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* align-items: center; */
    text-align: center;
}
/* header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a:active
{
    background:hsl(0, 0%, 100%);
    color: #2b1055;
} */
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#008B8B,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/* section img#moon
{
    mix-blend-mode: screen;
} */
section img#mountains_front
{
    z-index: 10;
}
#text
{
    position: absolute;
    color: #008B8B;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    right: -350px;
}
#btn 
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background:#ffffff;
    color: #008B8B;
    font-size: 1.4em;
    z-index: 9;
    transform: translateY(140px);
}
.sec
{
    position: relative;
    padding: 30px;
    background: #008B8B;
}
.sec h2
{
    font-size: 2.8em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}
.sec p
{
    font-size: 1.8em;
    color: #fff;
    align-items: center;
    align-content: center;
    text-align: center;
}

@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
    .sec
{
    position: relative;
    padding: 100px;
    background: #008B8B;
}
.sec h2
{
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}
.sec p
{
    font-size: 1;
    color: #fff;
    align-items: center;
    align-content: center;
    text-align: center;
}
 }